.home{
    .news{
         padding: $padding;
    .container{
        .row{
            .whatDo{
                h6{
                    font-family: $fontKaushan;
                }
                h3{
                    font-family: $fontRaleway;
                }
                hr{
                    @extend %hr;
                }
                p{
                    @extend %p; 
                }
            }//whatDo
        }//row
     .row{
        div{
        .cardImg{
                .card{
                    border:none;
                .img1{
                background-image: url(../../dist/image/home/mid-img-1.jpg);
                @extend %imgCover;
                }
                    .img2{
                background-image: url(../../dist/image/home/mid-img-2.jpg);
                @extend %imgCover;
                }
                    .img3{
                background-image: url(../../dist/image/home/mid-img-3.jpg);
                @extend %imgCover;
                } 
                    .x{
                display: table;
                div{
                        height:286.66px;
                        display: table-cell;
                        vertical-align: middle;
                        background-color: rgba(255,255,255,0);
                    i{
                        color: transparent;
                    }
                 }//div
                div:hover{
                        background-color: rgba(255,255,255,0.8);
                    i{
                        color: $black;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                 }//div
            }//x
                    .card-body{
                        padding: 20px 0 0 0;
                        .card-text{
                            font-family: $fontLato;
                            color: $gray;
                        }
                        .card-title{
                            font-family: $fontRaleway;
                            color: $black;
                        }
                        .card-text{
                            color: $gray;
                        }
                        hr{
                            @extend %hrmaincolor;
                        }//hr
                    }//card-body
                    @media(max-width:576px){
                    .card-body{
                        padding-bottom: 15px;
                    }
                }//media
                    
                }//card
            }//cardImg
          }//div
        }//row
    }//container
    }//portfolio
}//home