$maincolor: #fcca03;
$black :#303233;
$gray :#7a7a7a;
$grayIn:#eaeaea;
$padding : 130px 0px 0px 0px ;
//...............fonts
$fontKaushan: 'Kaushan_Script';
$fontRaleway: 'Raleway';
$fontAparajita:'Aparajita';
$fontExodus : 'Exodus';
$fontLato:'Lato';
$fontKaushan_Script : 'Kaushan_Script';
